body {
    background-color: #e6e6e6;
    font-family: 'Abel', sans-serif;
}

h2, h3, h4, h5 {
    font-family: 'Anton', sans-serif;
}

/*#logo {
    width: auto;
    height: 105px;
}

.navbar {
    height: 4rem;
}*/

h1, h2, h4, h6, #title {
    text-align: center;
}
h1{font-size: 64px;}
h2{font-size: 48px;}
h3{font-size: 40px;}
h4 { font-size: 32px;}
h5{ font-size: 28px;}

ul {
    list-style-type: none;
}
.btn-circle.btn-sm {
    width: 18px;
    height: 18px;
    padding: 6px 0px;
    border-radius: 9px;
    font-size: 8px;
    text-align: center;
}
.btn-circle.btn-xl {
    width: 105px;
    height: 105px;
    padding: 10px 16px;
    border-radius: 52.5px;
    border: 7px solid white;
    font-size: 20px;
    text-align: center;
    color: white;
    font-family:'Anton', sans-serif;
}
.btn-host{
    background-color: #00ABA9;
}
.btn-support{
    background-color: #7CB06C;
}
.btn-develop{
    background-color: #EB9D3A;
}
.btn-design{
    background-color: #E6563B;
}
h5{
    margin-bottom: 0;
}

.btm {
    width: 80%;
    color: #cccccc;
    border-bottom: 3px #cccccc solid;
}

.img-size {
    height: 162px;
    width: 240px;
}

.img-small {
    height: 75px;
    width: 75px;
}





body {
    font-family: 'Abel', sans-serif;
    background: #f0f0f0;
}
.wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
.brand-name {font-size: 1.75em;}
nav a {
    font-size: .75em;
    color: black;
}
.nav-background {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 59px;
    width: 100%;
    top: 37px;
    z-index: -1000;
}
nav .nav-item {
    position: relative;
    bottom: 6px;
}
@media screen and (min-width: 992px) {
    .brand-name  {
        position: relative;
        top: 5px;
    }
    .box {
        max-width:992px;
        justify-content: center;
    }
    .smbox{
        width:540px;
    }
}
@media screen and (min-width: 720px){

}
